/*****************navigation bar*************/
ul {
  margin:0px;
  padding:0px
}
ul li {
  width: 200px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  margin-right: 5px;
  color: black;
  float: left;
  list-style:none;
}
ul li a {
  text-decoration: none;
  display: inline;
  color: darkorange;
}
ul li a:hover {
  color: lightgrey;
}
ul li ul li{
  display: none;
}
ul li:hover ul li {
  display: block;
}
nav li ul li{
  diaplay:inline;
}
/************************* general **********/
.firstPageImg {
  background-image: url("../images/pizza1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
}
#custom{
  border: 5px dotted brown;
}
.top5{
top:10px;
}
.orange{
  color: orange;
}
